<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/rajak_guru.jpg" alt="angular logo" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Rajak Group</mat-card-title>
      <mat-card-subtitle>
        <!-- <app-loader [isLoading]="isLoading" size="1.5"></app-loader> -->
        <!-- <q [hidden]="isLoading">{{ quote }}</q> -->
      </mat-card-subtitle>
      <mat-card-actions>
        <a
          mat-raised-button
          color="warn"
          routerLink="/bio"
        >
         CLICK HERE TO FIND YOUR MATCH
      </a>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
