.container {
  text-align: center;
}

.row {
  text-align: center;
  padding-top: 10px;
}

.mat-icon {
  vertical-align: middle;
}

.example-viewport {
  

  // Bonus points
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2196f347;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.example-item {
  height: 50px;
}

.mat-list-item {
  height: 35px !important;
}

.mat-toolbar {
  margin-bottom: 5px;
}


