<!-- <div class="container" [ngStyle]="{'padding': isMobile ? '0.5rem;' : '1rem;'}"> -->
  <!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>BIOS</span>
      <span class="example-spacer"></span>
      <a mat-icon-button routerLink="add-bio">
        <mat-icon aria-hidden="false" aria-label="Example heart icon">add_box</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar> -->
  
    <cdk-virtual-scroll-viewport [ngStyle]="{'height': isMobile ? '89vh;' : '89vh;'}" class="example-viewport" itemSize="10">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
        <div  fxFlex.xs="0%"  fxFlex.sm="0%" fxFlex="25%" fxFlexFill></div>
        <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
            <div fxLayout="column" fxLayoutAlign="start start"  fxLayoutGap="12px">
              <div fxFlex style="width:100%;" *cdkVirtualFor="let bio of ds">
                <app-user-profile *ngIf="bio" [bio]="bio"></app-user-profile>
                <app-loader *ngIf="!bio" [isLoading]="true" size="1"></app-loader>
              </div>
            </div>
        </div>
        
        <div fxFlex="25%" fxFlex.xs="0%" fxFlex.sm="0%" fxFlexFill></div>
      </div>
    </cdk-virtual-scroll-viewport>
    <div class="add-bio-d">
      <a style="margin-right : 14px;" mat-fab color="warn"  routerLink="add-bio">
        <mat-icon aria-hidden="false" aria-label="Example heart icon">add</mat-icon>
      </a>
    </div>
    

  <!-- <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar> -->

  
  <!-- <app-no-data [isShow]="!isLoadingResults && data.length == 0"></app-no-data> -->
  <!-- <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 7, 10]"></mat-paginator> -->
<!-- </div> -->
