<div class="container" [ngStyle]="{'padding': isMobile ? '0rem;' : '1rem;'}">
  <!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>BIOS</span>
      <span class="example-spacer"></span>
      <a mat-icon-button routerLink="add-bio">
        <mat-icon aria-hidden="false" aria-label="Example heart icon">add_box</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar> -->
  
    <cdk-virtual-scroll-viewport [ngStyle]="{'height': isMobile ? '100vh;' : '80vh;'}" class="example-viewport" itemSize="100">
       <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" *ngIf="!isMobile">
        <mat-grid-tile *cdkVirtualFor="let bio of ds" [colspan]="isMobile ? 4 : 1" [rowspan]="4">
          <app-user-profile [bio]="bio"></app-user-profile>
        </mat-grid-tile>
      </mat-grid-list>

      <div *ngIf="isMobile">
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
              <div fxFlex fxFlexFill *cdkVirtualFor="let bio of ds">
                <app-user-profile [bio]="bio"></app-user-profile>
              </div>
          </div>
      </div>
      
    </cdk-virtual-scroll-viewport>
 

  <!-- <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar> -->

  <!-- <app-loader [isLoading]="isLoading" size="1"></app-loader> -->
  <!-- <app-no-data [isShow]="!isLoadingResults && data.length == 0"></app-no-data> -->
  <!-- <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 7, 10]"></mat-paginator> -->
</div>
