.detail-span {
    text-overflow: ellipsis;
    width: 130px;
    /* width: 250px; */
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-list-item {
  height: 35px !important;
  font-size: 17px;
}

  app-file-upload {
    position: absolute;
    top: 28%;
    left: 0%;
    width: 100%;
    text-align: center;
  }
