<mat-card class="example-card">
   
        <img
        mat-card-image
        height="{{isMobile ? 300  : 180 }}"
        src="{{ bio.profilePic || 'https://via.placeholder.com/150' }}"
        alt="Photo of a User"
      />
    <app-file-upload
      (complete)="onFileComplete($event, bio)"
      [target]="getUploadUrl(bio.id)"
    ></app-file-upload>
    <div class="u-edit-btn">
      <button mat-icon-button color="warn" (click)="onBioEdit(bio)">
        <mat-icon>edit</mat-icon>
      </button> 
    </div>
    
    <mat-card-content>
      <mat-list>
        <mat-list-item>Name: {{ bio.name }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item
          >Place:
          <span title="{{ bio.state }}" class="detail-span">{{ bio.state | uppercase }}</span></mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item
          >Qualification:
          <span title="{{ bio.qualification }}" class="detail-span">{{
            bio.qualification | uppercase
          }}</span></mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item>Salary: {{ bio.salary }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Contact: {{ bio.primaryContactNumber }}</mat-list-item>
        <!-- <button color="primary" mat-button>KNOW MORE</button> -->
      </mat-list>
    </mat-card-content>
  </mat-card>